table, th, td {
    border: 1px solid rgb(5, 237, 63);
}
.miEstilo{
    color: red;
    text-decoration:underline;
}
li.error{
    color: rgb(95, 10, 10);
    text-decoration: underline;
}
#quantity{
    color: blue;
}