{% extends "base.html" %}

{% block pageBase %}
        <h1>Esto seria la lista de Ingresos y Gastos</h1>
        <p>Accounting simulation</p>
        <p>{{list}}</p>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Concept</th>
                        <th>Quantity</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for item in list %}{#Se repitrá toda la estructura dentro#}

                    <tr>
                        <td>{{item.fecha}}</td>
                        <td>{{item.concepto}}</td>
                        <td>{{item.cantidad}}€</td>
                    </tr>
                    {% endfor %}

                </tbody>
        
            </table>
        
            <a href="/new">New</a>
{% endblock %}